<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Pilot</title>
</head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<body>
<h2>Welcome!</h2><hr>

<h3>Pilot Information</h3>
<a th:href="@{/pilot/delete/}+${pilot.id}">Delete</a>
<a th:href="@{/pilot/update/}+${pilot.licenseNumber}">Update</a>

<h3 th:text="'License Number: '+ ${pilot.licenseNumber}"></h3>
<h3 th:text="'Name: '+ ${pilot.name}"></h3>
<h3 th:text="'Fly Hour: '+ ${pilot.flyHour}"></h3><hr>

<h3>Flight Information</h3>
<h4><a th:href="@{/flight/add/}+${pilot.licenseNumber}">Add Flight Hour</a></h4>

<table>
    <tr>
        <th>Flight Number</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Time</th>
        <th>Action</th>
    </tr>
    <tr th:each="flight : ${flightList}">
        <td th:text="${flight.flightNumber}"></td>
        <td th:text="${flight.origin}"></td>
        <td th:text="${flight.destination}"></td>
        <td th:text="${flight.time}"></td>
        <td>
            <a th:href="@{/flight/delete/}+${flight.id}+'/'+${pilot.licenseNumber}">Delete </a>
            <a th:href="@{/flight/update/}+${flight.id}"> Update </a>
        </td>
    </tr>
</table>

</body>
</html>