<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Pilot</title>
</head>

<body>
<h2>Welcome!</h2><hr>

<h3>Pilot Information</h3>

<h4 th:text="'License Number: '+ ${pilot.licenseNumber}"></h4>
<h4 th:text="'Name: '+ ${pilot.name}"></h4>
<h4 th:text="'Fly Hour: '+ ${pilot.flyHour}"></h4><!--
<h4 th:if="${pilot.flyHour} >=100">Status: Pilot Senior</h4>
<h4 th:unless="${pilot.flyHour} >=100">Status: Pilot Junior</h4>-->
<h4 th:text="${pilot.flyHour} >= 100? 'Status: Pilot Senior' : 'Status: Pilot Junior'"></h4>
<!--<a th:href="@{/pilot/delete/}+${pilot.id}">Delete</a>
<a th:href="@{/pilot/update/}+${pilot.licenseNumber}">Update</a><hr>-->

<form th:action="@{/pilot/update/}+${pilot.id}">
    <button type="submit">Update Pilot</button>
</form>
<form  th:action="@{'/pilot/delete/'+${pilot.id}}">
<button type="submit">Delete Pilot</button>
</form>

<form th:action="@{/fight.delete}" th:object="${pilot}" method="POST">
    <table border="I">
        <caption>Flights</caption>
        <thead>
            <tr>
                <th style="text-align: center">No.</th>
                <th style="text-align: center">Flight Number</th>
                <th style="text-align: center">Origin</th>
                <th style="text-align: center">Destination</th>
                <th style="text-align: center">Time</th>
                <th style="text-align: center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="flight,iterationStatus : *{pilotFlight}">
                <td th:text="${iterationStatus.count}">
                <td th:text="${flight.flightNumber}"></td>
                <td th:text="${flight.origin}"></td>
                <td th:text="${flight.destination}"></td>
                <td th:text="${flight.time}"></td>
                <td>
                    <input type="checkbox" th:flied="*{pilotFlight}" th:value="${flight.id}"/>
                    <label th:for="${#ids.prev('pilotFlight')}">Hapus</label>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="submit">Delete Selected Flight</button>
</form>
<form th:action="@{/flight/add/}+${pilot.licenseNumber}">
    <button value="submit">Add Flight</button>
</form>
<!--<h3>Flight Information</h3>
<h4><a th:href="@{/flight/add/}+${pilot.licenseNumber}">Add Flight Hour</a></h4>

&lt;!&ndash;<table>
    <tr>
        <th>Flight Number</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Time</th>
        <th>Action</th>
    </tr>
    <tr th:each="flight : ${flightList}">
        <td th:text="${flight.flightNumber}"></td>
        <td th:text="${flight.origin}"></td>
        <td th:text="${flight.destination}"></td>
        <td th:text="${flight.time}"></td>
        <td>
            <a th:href="@{/flight/delete/}+${flight.id}+'/'+${pilot.licenseNumber}">Delete </a>
            <a th:href="@{/flight/update/}+${flight.id}"> Update </a>
        </td>
    </tr>
</table>&ndash;&gt;

<table>
    <tbody>
    <tr>
        <th>No</th>
        <th>Flight Number</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Action</th>
    </tr>
        <tr th:each="flight, iterationStatus : ${flightList}" th:style="${iterationStatus.even} ? 'display:none;'">
            <td th:text="${iterationStatus.count}"></td>
            <td th:text="${flight.flightNumber}"></td>
            <td th:text="${flight.origin}"></td>
            <td th:text="${flight.destination}"></td>
            <td><a th:href="@{'/flight/view/' +${flight.flightNumber}}">See Flight Detail</a></td>
        </tr>
    </tbody>
</table>-->


</body>
</html>